In [11]:
#Uzun yol

salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(x):
    return x*30/100+x

#for salary in salaries:
   # print(new_salary(salary)
          
null_list = []
          
#for salary in salaries:
   # null_list.append(new_salary(salary))
    
for salary in salaries:
    if salary > 3000:
        null_list.append(new_salary(salary))
    else:
        null_list.append(new_salary(salary*3))

print(null_list)

[3900.0, 7800.0, 11700.0, 5200.0, 6500.0]

In [12]:
#Kısa yol

#List Comprehensions


[new_salary(salary*2) if salary < 3000 else new_salary(salary) for salary in salaries]

print(null_list)

[3900.0, 7800.0, 11700.0, 5200.0, 6500.0]

In [13]:
#maaşlar listesindeki her maaş 3 ile çarpılsın

[salary*3 for salary in salaries]

[3000, 6000, 9000, 12000, 15000]

In [15]:
#maaşı 3000'den küçük olonlar 3 ile çarpılsın

[salary*3 for salary in salaries if salary<3000]

[3000, 6000]

In [16]:
#eğer else ve if birlikte kullanacaksak, for kısmı sağda olmalı

[salary*3 if salary<3000 else salary//2 for salary in salaries]

[3000, 6000, 1500, 2000, 2500]

In [19]:
#içeri fonksiyon eklersek

[new_salary(salary*3) if salary<3000 else new_salary(salary//2) for salary in salaries]

[3900.0, 7800.0, 1950.0, 2600.0, 3250.0]

In [33]:
fruits = ["apple", "strawberry", "banana"]

fruits_no = ["spinach", "pea", "leek"]

#meyveler büyük, sebzeler küçük harf ile yazılsın

[fruit.lower() if fruit in fruits_no else fruit.upper() for fruit in fruits]

['APPLE', 'STRAWBERRY', 'BANANA']

In [35]:
students = ["Angel", "John", "Marry"]

students_no = ["Jack", "Cindy"]

#istenmeyen öğrenciler küçük harf ile yazılsın

[student.lower() if student in student_no else student.upper() for student in students]

['ANGEL', 'JOHN', 'MARRY']

In [41]:
#Dict Comprehension

dictionary = {'x':1,
              'y':2,
              'z':3,
              'm':4}

    #hatırlatma
print(dictionary.keys())
print(dictionary.values())
print(dictionary.items()) #item çiftlerine liste formunda ama her bir elemanı tuple şeklinde

dict_keys(['x', 'y', 'z', 'm'])
dict_values([1, 2, 3, 4])
dict_items([('x', 1), ('y', 2), ('z', 3), ('m', 4)])

In [42]:
{k: v**3 for (k,v) in dictionary.items()} #key ve value değerleriyle aynı anda oynayalım

{'x': 1, 'y': 8, 'z': 27, 'm': 64}

In [45]:
{k.upper(): v for (k,v) in dictionary.items()}

{'X': 1, 'Y': 2, 'Z': 3, 'M': 4}

In [48]:
{k.lower(): v**3 for (k,v) in dictionary.items()}

{'x': 1, 'y': 8, 'z': 27, 'm': 64}

In [4]:
#Tek sayıların karesi alınsın, sözlüğe eklensin. Key orjinal kalıp value değişirse

numbers = range(22)
new_dict = {}

for n in numbers:
    if n % 2 != 0:
        new_dict[n] = n**2

print(new_dict)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441}

In [7]:
#Comprehension kullanırsam

{n: n**2 for n in numbers if n % 2 != 0} #if kullanmadıüğım için for başında

{1: 1,
 3: 9,
 5: 25,
 7: 49,
 9: 81,
 11: 121,
 13: 169,
 15: 225,
 17: 289,
 19: 361,
 21: 441}

In [8]:
#Bir veri setindeki değişken isimlerini değiştirmek, native python fonksiyonlar ile

#'total', 'speeding', 'alcohol', 'not_distracted', 'no_previous', 'ins_premium', 'ins_loses', 'abbrev']
#data frame'lerin hepsini büyük harf halleriyle değiştirme

import seaborn as sns #kütüphane çağırma
df = sns.load_dataset("car_crashes") #kütüphane içindeki veri setini çağırma
df.columns #ilgili date frame değişkenlerinin isimlerini çağırma

for col in df.columns:
    print(col)

total
speeding
alcohol
not_distracted
no_previous
ins_premium
ins_losses
abbrev

In [10]:
for col in df.columns:
    print(col.upper())
    
#for ile gezinme

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

In [27]:
L = []

for col in df.columns:
    L.append(col.upper())
    
df.columns = L

#liste formatında isterse

print(L)

['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS', 'INS_PREMIUM', 'INS_LOSSES', 'ABBREV']

In [41]:
df = sns.load_dataset("car_crashes")

df.columns = [col.upper() for col in df.columns]

print(df.columns)

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

In [49]:
#İsminde "INS" olan değişkenlerin başına FLAG diğerlerine NO_FLAG ekle

[col for col in df.columns if "INS" in col]

print(df.columns)

["FLAG_" + col for col in df.columns if "INS" in col]

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

['FLAG_INS_PREMIUM', 'FLAG_INS_LOSSES']

In [8]:
#list Comprehensions ile

df = sns.load_dataset("car_crashes")

["FLAG_" + col if "INS" in col else "NO_FLAG_" + col for col in df.columns]

print(df.columns)

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [ ]:
#Amaç key'i string, value'su aşağıdaki gibi bir liste olan sözlük oluşturmak,
# sadece sayısal değerler için olacak şekilde

# Output:
# {'total': ['mean', 'min, 'max', 'var'],
#  'speeding': ['mean', 'min, 'max', 'var'],
#  'alcohol': ['mean', 'min, 'max', 'var'],
#  'not_distracted': ['mean', 'min, 'max', 'var'],
#  'no_previous': ['mean', 'min, 'max', 'var'],
#  'ins_premium': ['mean', 'min, 'max', 'var'],
#  'ins_losses': ['mean', 'min, 'max', 'var']}

#fonkısiyonlar string değer

In [9]:
#Dict Comprehensions

import seaborn as sns #kütüphane çağırma
df = sns.load_dataset("car_crashes") #kütüphane içindeki veri setini çağırma
df.columns #ilgili data frame değişkenlerinin isimlerini çağırma

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [14]:
num_cols = [col for col in df.columns if df[col].dtype != "O"] #object

# 'col for col in df.columns' değişkenleri gezerken
# 'df[col] bu değişkenlerden birisinin ismini(her iterasyonda her değişkenin ismini) seçer
# bu dataframe köşeli parantez ile girersek df, dataframedeki ilgili değişkeni seçer

print(num_cols)

['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous', 'ins_premium', 'ins_losses']

In [29]:
soz = {} #sözlüğün key değerlerine değişken, value değerlerine agg_list listesini basalım
agg_list = ["mean", "min", "max", "sum"]

#Uzun yol

for col in num_cols:
    soz[col] = agg_list

#numerik kolonlarda gezen for döngüsünde
# sözlüğün key değerlerine köşeli parantezle sütunları(col) ekle, bunlar num_cols'dan gelen değişkenler
# value bölümüne sabit liste bas
print(soz)

#özet:eğer bir dataframe'e köşeli parantez girip
# bir değişken listesi verirsem, bu dataframe içinden bu değişkenleri seçer

{'total': ['mean', 'min', 'max', 'sum'], 'speeding': ['mean', 'min', 'max', 'sum'], 'alcohol': ['mean', 'min', 'max', 'sum'], 'not_distracted': ['mean', 'min', 'max', 'sum'], 'no_previous': ['mean', 'min', 'max', 'sum'], 'ins_premium': ['mean', 'min', 'max', 'sum'], 'ins_losses': ['mean', 'min', 'max', 'sum']}

In [ ]:
#Kısa yol
{col: agg_list for col in num_cols} #değişen kısım sol, sabit sağ

In [30]:
#EK:
new_dict = {col: agg_list for col in num_cols}

df[num_cols].head() #head metodu bir datadrame'in ilk gözlemine erişir
df[num_cols].agg(new_dict)

#eğer agg fonksiyonuna bu şekilde bir sözlük gönderilirse
# ve agg fonksiyonuna bu şekilde bir df'e uygulanırsa
# gönderilen sözlüğün içindeki değişkenler
# eğer eldeki df'de varsa
# bu değişkenleri key bölümünden tutar, valu bölümüne girilen bütün fonksiyonlara otomatik uygular

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000

In [31]:
print(df)

    total  speeding  alcohol  not_distracted  no_previous  ins_premium  \
0    18.8     7.332    5.640          18.048       15.040       784.55
1    18.1     7.421    4.525          16.290       17.014      1053.48
2    18.6     6.510    5.208          15.624       17.856       899.47
3    22.4     4.032    5.824          21.056       21.280       827.34
4    12.0     4.200    3.360          10.920       10.680       878.41
5    13.6     5.032    3.808          10.744       12.920       835.50
6    10.8     4.968    3.888           9.396        8.856      1068.73
7    16.2     6.156    4.860          14.094       16.038      1137.87
8     5.9     2.006    1.593           5.900        5.900      1273.89
9    17.9     3.759    5.191          16.468       16.826      1160.13
10   15.6     2.964    3.900          14.820       14.508       913.15
11   17.5     9.450    7.175          14.350       15.225       861.18
12   15.3     5.508    4.437          13.005       14.994       641.96
13   12.8     4.608    4.352          12.032       12.288       803.11
14   14.5     3.625    4.205          13.775       13.775       710.46
15   15.7     2.669    3.925          15.229       13.659       649.06
16   17.8     4.806    4.272          13.706       15.130       780.45
17   21.4     4.066    4.922          16.692       16.264       872.51
18   20.5     7.175    6.765          14.965       20.090      1281.55
19   15.1     5.738    4.530          13.137       12.684       661.88
20   12.5     4.250    4.000           8.875       12.375      1048.78
21    8.2     1.886    2.870           7.134        6.560      1011.14
22   14.1     3.384    3.948          13.395       10.857      1110.61
23    9.6     2.208    2.784           8.448        8.448       777.18
24   17.6     2.640    5.456           1.760       17.600       896.07
25   16.1     6.923    5.474          14.812       13.524       790.32
26   21.4     8.346    9.416          17.976       18.190       816.21
27   14.9     1.937    5.215          13.857       13.410       732.28
28   14.7     5.439    4.704          13.965       14.553      1029.87
29   11.6     4.060    3.480          10.092        9.628       746.54
30   11.2     1.792    3.136           9.632        8.736      1301.52
31   18.4     3.496    4.968          12.328       18.032       869.85
32   12.3     3.936    3.567          10.824        9.840      1234.31
33   16.8     6.552    5.208          15.792       13.608       708.24
34   23.9     5.497   10.038          23.661       20.554       688.75
35   14.1     3.948    4.794          13.959       11.562       697.73
36   19.9     6.368    5.771          18.308       18.706       881.51
37   12.8     4.224    3.328           8.576       11.520       804.71
38   18.2     9.100    5.642          17.472       16.016       905.99
39   11.1     3.774    4.218          10.212        8.769      1148.99
40   23.9     9.082    9.799          22.944       19.359       858.97
41   19.4     6.014    6.402          19.012       16.684       669.31
42   19.5     4.095    5.655          15.990       15.795       767.91
43   19.4     7.760    7.372          17.654       16.878      1004.75
44   11.3     4.859    1.808           9.944       10.848       809.38
45   13.6     4.080    4.080          13.056       12.920       716.20
46   12.7     2.413    3.429          11.049       11.176       768.95
47   10.6     4.452    3.498           8.692        9.116       890.03
48   23.8     8.092    6.664          23.086       20.706       992.61
49   13.8     4.968    4.554           5.382       11.592       670.31
50   17.4     7.308    5.568          14.094       15.660       791.14

    ins_losses abbrev
0       145.08     AL
1       133.93     AK
2       110.35     AZ
3       142.39     AR
4       165.63     CA
5       139.91     CO
6       167.02     CT
7       151.48     DE
8       136.05     DC
9       144.18     FL
10      142.80     GA
11      120.92     HI
12       82.75     ID
13      139.15     IL
14      108.92     IN
15      114.47     IA
16      133.80     KS
17      137.13     KY
18      194.78     LA
19       96.57     ME
20      192.70     MD
21      135.63     MA
22      152.26     MI
23      133.35     MN
24      155.77     MS
25      144.45     MO
26       85.15     MT
27      114.82     NE
28      138.71     NV
29      120.21     NH
30      159.85     NJ
31      120.75     NM
32      150.01     NY
33      127.82     NC
34      109.72     ND
35      133.52     OH
36      178.86     OK
37      104.61     OR
38      153.86     PA
39      148.58     RI
40      116.29     SC
41       96.87     SD
42      155.57     TN
43      156.83     TX
44      109.48     UT
45      109.61     VT
46      153.72     VA
47      111.62     WA
48      152.56     WV
49      106.62     WI
50      122.04     WY

In [27]:
print(df[num_cols].agg(new_dict))

           total    speeding     alcohol  not_distracted  no_previous  \
mean   15.790196    4.998196    4.886784       13.573176    14.004882
min     5.900000    1.792000    1.593000        1.760000     5.900000
max    23.900000    9.450000   10.038000       23.661000    21.280000
sum   805.300000  254.908000  249.226000      692.232000   714.249000

       ins_premium   ins_losses
mean    886.957647   134.493137
min     641.960000    82.750000
max    1301.520000   194.780000
sum   45234.840000  6859.150000

In [32]:
#snacks

names = ["denise", "jean", "fleur"]
ages = [20, 32, 45]
cities = ["lyon", "little", "nantes"]

list(zip(names, ages))

#zip, farklı iterable'ları(liste,demet vb.) bireştirerek zip nesnesi oluşturur
# bu nesne, her iterable'daki aynı indeksli öğeleri birleştirir
# bu öğeleri bir tuple olarak döndürür

[('denise', 20), ('jean', 32), ('fleur', 45)]

In [40]:
wages = [1000, 2000, 3000, 4000, 5000]

new_wages = lambda x: x*0.20 + x 

#lambda; kısa ve tek satırlık bir fonksiyon tanımı yapmak için kullanılır
# lambda fonksiyonu, bir maaş değeri alır ve o maaşın %20 artışlı halini döndürür

list(map(new_wages, wages))

#özet; lambda, new_wages fonksiyonunu tek satırda tanımlamaya yaradı
# map fonksiyonu, belirtilen fonksiyonu listenin her bir öğese uygular

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [37]:
students = ["Denise", "Arsen", "Tony", "Audrey"]

low = lambda x:x[0].lower() #kelimeyi küçük harfe çevir, ilk harfini döndür

print(list(map(low,students))) #her öğrencinin adı low fonksiyonuna gider, sonuçlardan liste ekrana yazdır

['d', 'a', 't', 'a']

### lambda
python programlama dilinde kısa ve tek satırlık fonksiyonları tanımlar;
bir fonksiyon adı tamamlamadan, bir fonksiyonun yapacağı işlevi açıklayan ifadeyi belirtir

lambda genellikle map,filter,reduce fonksiyonlarıyla kullanılır;
bu fonksiyonlar listedeki her öğe için lambda ifadesini çağırır
sonuçları liste olarak döndürür

In [41]:
sum = lambda x: x + 22 #sum lambda fonksiyonu tanımlar, 
# lambda x argümanını alıp x+22 işlemini döndürür
# fonksiyon normal bir fonksiyon gibi çağırılabilir
print(sum(4))

26

In [38]:
dict = {"Denise": 10, "Arsen": 12, "Tony":15, "Audrey": 17}

new_dict = {k: v*2+3 for (k,v) in dict.items()} #sözlükte anahtar,değer çifti olarak saklanır; (k,v)

new_dict

{'Denise': 23, 'Arsen': 27, 'Tony': 33, 'Audrey': 37}

In [39]:
numbers = range(1,10) #sayı dizileri için

{n: n**2 for n in numbers if n%2 != 0}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}