In [ ]:
#fundamentals of OOP

In [1]:
#class and attributes
class Employee():
    employee_name = "Ecem"
    department = "Mathematics
    starting_year = 2023
    salary = 10000

In [2]:
#object that we can access the attributes we define inside the class
myObject = Employee()

In [3]:
#attributes of myObject
print(myObject.employee_name)
print(myObject.department)
print(myObject.starting_year)
print(myObject.salary)

Ecem
Mathematic
2023
10000

In [4]:
#different values
class Employee():
    employee_name = "John"
    department = "Soldier"
    starting_year = 1978
    salary = 100000
myObject = Employee()

In [5]:
print(myObject.employee_name)
print(myObject.department)
print(myObject.starting_year)
print(myObject.salary)

John
Soldier
1978
100000

In [ ]:
#access all attributes

In [8]:
#self refers to the newly created object
class Employees():
    def __init__(self, employee_name, department, starting_year, salary):
        self.employee_name = employee_name
        self.department = department
        self.starting_year = starting_year 
        self.salary = salary

In [ ]:
#copies of classes

In [11]:
employee_1 = Employees("Ecem", "Mathematics", 2023, 10000)

print(employee_1.employee_name)
print(employee_1.department)
print(employee_1.starting_year)
print(employee_1.salary)

Ecem
Mathematics
2023
10000