Python Tekrar

In [4]:
#veri tipleri

x = 8
print(type(x))

y = 3.2
print(type(y))

z = 8j + 18
print(type(z))

a = "Hello World"
print(type(a))

b = True
print(type(b))

c = 23 < 22
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [6]:
l = [1, 2, 3, 4,"String",3.2, False]
print(type(l))

d = {"Name": "Jake",
     "Age": [27,56],
     "Adress": "Downtown"}
print(type(d))

t = ("Machine Learning", "Data Science")
print(type(t))

s = {"Python", "Machine Learning", "Data Science","Python"}
print(type(s))

#liste> sıralı,değiştirilebilir
#sözlük> sırasız,değiştirilebilir
#demet>(tuple) sıralı,değiştirilemez
#küme> sırasız,değiştirilebilir,eşsiz
#bu veri tipleri aynı zamanda kapsayıcı

<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

In [8]:
#büyük

text = "Cümlenin harflerinin boyutuyla oynayalım, noktalama işaretlerini değiştirelim."
text.upper().replace(","," ").replace("."," ").split()

['CÜMLENIN',
 'HARFLERININ',
 'BOYUTUYLA',
 'OYNAYALIM',
 'NOKTALAMA',
 'IŞARETLERINI',
 'DEĞIŞTIRELIM']

In [45]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

print(len(lst)) #uzunluk

print(lst[2]) #listenin 3. elemanı, index 0'dan başlar

data_lst = lst[0:8] #8 dahil değil
print(data_lst) #data_lst yeni liste

print(lst.pop(4)) #index no:4 önce listeden kaldırılır, sonra ekrana yazılır

lst.append(777) #listeye ekle, güncel liste yazdır
print(lst)

print(lst.append(777)) #liste.append() yöntemi bir liste nesnesine yeni bir öğe ekler ve listeyi değiştirir. ancak, bu yöntem bir değer döndürmez veya none değerini döndürür

lst.insert(7,"E") #7. pozisyone ekler
print(lst)

lst.reverse() #ters sıralama
print(lst)

lst.remove(777) #eleman çıkar
print(lst)

lst.pop(0) #index'e göre belirtilen veya belirtilmeyen son elemanı çıkar
print(lst)

lst.sort() #alfabetik
print(lst)

11
T
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E']
S
['D', 'A', 'T', 'A', 'C', 'I', 'E', 'N', 'C', 'E', 777]
None
['D', 'A', 'T', 'A', 'C', 'I', 'E', 'E', 'N', 'C', 'E', 777, 777]
[777, 777, 'E', 'C', 'N', 'E', 'E', 'I', 'C', 'A', 'T', 'A', 'D']
[777, 'E', 'C', 'N', 'E', 'E', 'I', 'C', 'A', 'T', 'A', 'D']
['E', 'C', 'N', 'E', 'E', 'I', 'C', 'A', 'T', 'A', 'D']
['A', 'A', 'C', 'C', 'D', 'E', 'E', 'E', 'I', 'N', 'T']

In [46]:
lst = [11, 22, 33]
last_element = lst.pop()
print(last_element)
print(lst)

33
[11, 22]

In [47]:
lst = [11, 22, 33]
second_element = lst.pop(0)
print(second_element)
print(lst)

11
[22, 33]

In [48]:
dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}
dict.keys() #(k,v)

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [49]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [52]:
dict.update({"Daisy": ["England",13]}) #value değişim
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [53]:
dict["Daisy"][1] = 14 #sözlükteki daisy anahtarının 2. elemanı değişir
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 14],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [54]:
dict.update({"Ahmet": ["Turkey", 24]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 14],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [55]:
dict.pop("Antonio") #çıkar
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 14],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [66]:
l = [4,24,98,22,37,81]

def func(list):

    cift_list = []
    tek_list = []

    for i in list:
        if i % 2 == 0:
            cift_list.append(i)
        else:
            tek_list.append(i)

    return cift_list, tek_list

cift,tek = func(l) #fonksiyon çağırısı yaparken gerekli parametreler bildirilir
print("cift sayılar: ", cift)
print("tek sayılar: ", tek)

cift sayılar:  [4, 24, 98, 22]
tek sayılar:  [37, 81]

In [67]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
for i,x in enumerate(ogrenciler):
    if i<3:
        i += 1
        print("Mühendislik Fakültesi",i,". öğrenci: ",x)
    else:
        i -= 2
        print("Tıp Fakültesi",i,". öğrenci: ",x)
        
#enumerate her elemanın kaçıncı sırada olduğunu tutuyor, sayaç ve obje parametre olarak alıyor

Mühendislik Fakültesi 1 . öğrenci:  Ali
Mühendislik Fakültesi 2 . öğrenci:  Veli
Mühendislik Fakültesi 3 . öğrenci:  Ayşe
Tıp Fakültesi 1 . öğrenci:  Talat
Tıp Fakültesi 2 . öğrenci:  Zeynep
Tıp Fakültesi 3 . öğrenci:  Ece

In [69]:
iterable_obje = ["banana", "pea", "cherry", "melon"]
for sayac, eleman in enumerate(iterable_obje):
    print(sayac, eleman)
    
#enumerate fonksiyonu iterable_obje listesinde gezinirken elemanların sırasını sayac degişkenine aktarır
#eleman değişkenine de o sıra bulunan elemanın index değerini aktarır

0 banana
1 pea
2 cherry
3 melon

In [70]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

#for döngüsü her listedeki elemanı eşler, zip pararlel gezer

for ders_kodu, kredi, kontenjan in zip(ders_kodu, kredi, kontenjan):
  print(f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [71]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "enumerate", "repeat", "python", "science"])

def kume(set1,set2):
    if set1.issuperset(set2): #set1 kapsar set2
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1)) #set2'de var set1'de yok

kume(kume1,kume2) #fonksiyon çağırısı, kume fonksiyonuna parametre verme

{'science', 'function', 'repeat', 'enumerate'}