In [1]:
filepath="employee_revenue.txt"

In [2]:
#open the file in read mode
with open(filepath, "r") as file:
    data=file.read()

In [3]:
print(data)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

In [4]:
#seperate the data into lines
lines=data.splitlines()
print(lines)

['  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ', 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.', '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ', 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ', '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.', 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ', 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ', 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ', ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.', 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ', '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

In [5]:
#take the first line
string=lines[0]
print(string)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

In [6]:
#remove the whitespaces from the edges
string=string.strip(" ")
print(string)

Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.

In [7]:
#convert the string to lowercase
string=string.lower()
string

'ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [8]:
#capitalize the first character
string=string.capitalize()
string

'Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [9]:
#split the sentence into words
split_string=string.split(" ")
split_string

['Ben',
 'made',
 '300',
 'calls',
 'and',
 'generated',
 '2400',
 'dollars',
 'last',
 'month',
 'with',
 'an',
 '8$',
 'average',
 'deal',
 'size.']

In [10]:
#use the index 0 to access to the name element
name=split_string[0]
name

'Ben'

In [11]:
#use the index 2 to access the number of calls elements
call_number=split_string[2]
call_number

'300'

In [12]:
#find the element with the '$' sign
for i in split_string:
    #divide the number from it
    if '$' in i:
        average_deal_size=i.split("$")[0]
#print the average deal size
average_deal_size

'8'

In [13]:
#find the index of element "dollars"
dollars_index = split_string.index("dollars")
dollars_index

7

In [14]:
#subtract one from the index to identity the index of the revenue element
revenue_index = dollars_index - 1
revenue_index

6

In [15]:
#extract the revenue
revenue = split_string[revenue_index]
revenue

'2400'

In [16]:
#print out the extracted information
print("Name:", name)
print("Number of calls:", call_number)
print("Average deal size:", average_deal_size)
print("Revenue:", revenue)

Name: Ben
Number of calls: 300
Average deal size: 8
Revenue: 2400

In [17]:
#check the types
print("Name type:", type(name))
print("Number of calls type:", type(call_number))
print("Average deal size type:", type(average_deal_size))
print("Revenue type:", type(revenue))

Name type: <class 'str'>
Number of calls type: <class 'str'>
Average deal size type: <class 'str'>
Revenue type: <class 'str'>

In [18]:
#convert the datatypes of average deal size, number of calls, and revenue
average_deal_size = int(average_deal_size)
call_number = int(call_number)
revenue = int(revenue)

In [19]:
#print out the information again
print("Name type:", type(name))
print("Number of calls type:", type(call_number))
print("Average deal size type:", type(average_deal_size))
print("Revenue type:", type(revenue))

Name type: <class 'str'>
Number of calls type: <class 'int'>
Average deal size type: <class 'int'>
Revenue type: <class 'int'>

In [20]:
#create empty lists for the names, number of calls, average deal sizes, revenues
names = []
call_numbers = []
average_deal_sizes = []
revenues = []

In [55]:
#loop over the whole data
for employee in lines:
    
    #clean the string
    employee = employee.strip(" ")
    employee =  employee.lower()
    employee = employee.capitalize()

    #split the clean string
    split_employee = employee.split(" ")

    #extract the name
    name = split_employee[0]
    call_number = split_employee[2]

    #extract the average deal size
    for i in split_employee:
        if "$" in i:
            average_deal_size = i
    average_deal_size = average_deal_size.split("$")[0]

    #extract the revenue
    dollars_index = split_employee.index("dollars")
    revenue_index = dollars_index - 1
    revenue = split_employee[revenue_index]

    #convert to the correct data types
    average_deal_size = int(average_deal_size)
    call_number = int(call_number)
    revenue = int(revenue)
    
    #append the information to the lists
    names.append(name)
    call_numbers.append(call_number)
    average_deal_sizes.append(average_deal_size)
    revenues.append(revenue)
    
#print out the information
print("Names:", names)
print("Number of calls", call_numbers)
print("Average deal size:", average_deal_sizes)
print("Revenues:", revenues)

Names: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
Number of calls [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
Average deal size: [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
Revenues: [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

In [69]:
#create empyt lists again
names = []
call_numbers = []
average_deal_sizes = []
revenues = []

In [70]:
#define a function to clean and extract the data
def clean_extract(lines):
    for employee in lines:
        
        employee=employee.strip(" ")
        employee=employee.lower()
        employee=employee.capitalize()
        
        split_employee=employee.split(" ")
        
        name=split_employee[0]
        call_number=split_employee[2]
        
        for i in split_employee:
            if "$" in i:
                average_deal_size=i
                average_deal_size=average_deal_size.split("$")[0]
                
        dollars_index=split_employee.index("dollars")
        revenue_index=dollars_index-1
        revenue=split_employee[revenue_index]
        
        average_deal_size=int(average_deal_size)
        call_number=int(call_number)
        revenue=int(revenue)
        
        names.append(name)
        call_numbers.append(call_number)
        average_deal_sizes.append(average_deal_size)
        revenues.append(revenue)
    
    return names, call_numbers, average_deal_sizes, revenues

In [71]:
#assign returned values to variables
names, call_numbers, average_deal_sizes, revenues = clean_extract(lines)

In [72]:
#print out the information
print("Names:", names)
print("Number of calls:", call_numbers)
print("Average deal sizes:", average_deal_sizes)
print("Revenues:", revenues)

Names: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
Number of calls: [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
Average deal sizes: [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
Revenues: [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

In [ ]:
#check the number of employees
print(len(names))

In [73]:
#generate IDs
IDs=list(range(0,11))
print(IDs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
#check the number of IDs
len(IDs)

11

In [77]:
#pair the names with the IDs in a dictionary
dictionary1=dict(zip(IDs,names))
dictionary1

{0: 'Ben',
 1: 'Omer',
 2: 'Karen',
 3: 'Celine',
 4: 'Sue',
 5: 'Bora',
 6: 'Rose',
 7: 'Ellen',
 8: 'Bob',
 9: 'Taylor,',
 10: 'Jude'}

In [78]:
#pair the names with the revenues
dictionary2=dict(zip(revenues,names))
dictionary2

{2400: 'Ben',
 60: 'Omer',
 12000: 'Karen',
 2275: 'Celine',
 500: 'Jude',
 770: 'Bora',
 4000: 'Rose',
 6000: 'Ellen',
 800: 'Bob',
 1200: 'Taylor,'}

In [81]:
#find the lowest performing employees(ascending order)
sorted_dictionary=sorted(dictionary2)[0:3]

for i in sorted_dictionary:
    print(dictionary2[i])

Omer
Jude
Bora

In [82]:
##find the best performing employees(descending order)
sorted_dictionary=sorted(dictionary2, reverse=True)[0:3]

for i in sorted_dictionary:
    print(dictionary2[i])

Karen
Ellen
Rose