In [1]:
class favLanguage:
    def printLine(self, language="Python"):
        print(language)

myObject = favLanguage()
myObject.printLine("Java")

Java

In [2]:
class Sales:
    def __init__(self, id):
        self.id = id 
        id = 100

val = Sales(123)
print(val.id)

123

In [3]:
class Point:
    def __init__(self, x=0, y=0):
        self.x=x+1
        self.y=y+1
        
p1=Point()
print(p1.x,p1.y)

1 1

In [4]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\etive\anaconda3\lib\site-packages (1.21.5)

In [5]:
import numpy as np

In [6]:
revenues = [20300, 400300, 50030]

In [7]:
import time

initial_time = time.time()

sum=0

for i in revenues:
    sum += i
    
print(sum)

termination_time=time.time()

print("Execution Time:", termination_time - initial_time)

470630
Execution Time: 0.0

In [8]:
array=np.array(revenues)

initial_time=time.time()

sum=array.sum()
print(sum)
termination_time=time.time()

print("Execution Time:", termination_time - initial_time)

470630
Execution Time: 0.0

In [11]:
import numpy as np

names = ['Ecem', 'İrem', 'Mert']
revenues = [24000, 60000, 120000]

names_array = np.array([names])

data = np.concatenate((names_array.reshape(3,1), np.array([revenues]).T), axis=1)
print(data)

[['Ecem' '24000']
 ['İrem' '60000']
 ['Mert' '120000']]

In [16]:
import numpy as np

array1 = np.array([1,4,8,6,2])
array2 = np.array([[11,44,88,66,22],
                   [22,10,47,69,5]])

array = np.array([array1.sum(), array2.ndim, array2.size, array1.argmax(), array2.argmin()])
print(array)

[21  2 10  2  9]

In [23]:
data = np.array([[0,1,2,3,4,5,6],
               [300,10,500,70,100,100,600],
               [8,6,24,32,5,25,25],
               [2400,60,12000,2275,500,770,4000]])

data[3,3]

2275

In [25]:
shopping_list = [3, "lemons",3, "apples", 13, 'melons', 2, "cereal"]
shopping_array = np.array(shopping_list)
print(shopping_array)

['3' 'lemons' '3' 'apples' '13' 'melons' '2' 'cereal']

In [27]:
import pandas as pd 

arr = np.array([[0,1,2,3,4,5,6],
               [300,10,500,70,100,100,600],
               [8,6,24,32,5,25,25],
               [2400,60,12000,2275,500,770,4000]])

df = pd.DataFrame(arr)

In [28]:
df.describe()

,0,1,2,3,4,5,6
count,4.000000,4.00000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,677.000000,19.25000,3131.500000,595.000000,152.250000,225.000000,1157.750000
std,1157.115379,27.41502,5916.795614,1120.335962,236.164314,365.627315,1914.777685
min,0.000000,1.00000,2.000000,3.000000,4.000000,5.000000,6.000000
25%,6.000000,4.75000,18.500000,24.750000,4.750000,20.000000,20.250000
50%,154.000000,8.00000,262.000000,51.000000,52.500000,62.500000,312.500000
75%,825.000000,22.50000,3375.000000,621.250000,200.000000,267.500000,1450.000000
max,2400.000000,60.00000,12000.000000,2275.000000,500.000000,770.000000,4000.000000

In [29]:
df.describe().T

   count     mean          std  min    25%    50%      75%      max
0    4.0   677.00  1157.115379  0.0   6.00  154.0   825.00   2400.0
1    4.0    19.25    27.415020  1.0   4.75    8.0    22.50     60.0
2    4.0  3131.50  5916.795614  2.0  18.50  262.0  3375.00  12000.0
3    4.0   595.00  1120.335962  3.0  24.75   51.0   621.25   2275.0
4    4.0   152.25   236.164314  4.0   4.75   52.5   200.00    500.0
5    4.0   225.00   365.627315  5.0  20.00   62.5   267.50    770.0
6    4.0  1157.75  1914.777685  6.0  20.25  312.5  1450.00   4000.0

In [31]:
#dataframe_csv = pd.read_cvs("file.csv")
#dataframe_txt = pd.read_csv("file.txt")
#dataframe_xlxs = pd.read_xlsx("file.xlsx")